name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install conda dependencies
      uses: conda-incubator/setup-miniconda@v3
      with:
          python-version: ${{ matrix.python-version }}
          environment-file: conda_config.yml
          channel-priority: true
    - name: Install pip dependencies
      shell: bash -el {0}  # this is necessary to activate the conda env
      run: |
        pip install ".[dev]"
    - name: Test with pytest
      shell: bash -el {0}
      run: |
        pytest --color=yes --cov --cov-report=xml --cov-report=term-missing
    # Coverage should work out of the box for public repos. For private repos, more setup is likely required.
    - name: Coverage
      uses: codecov/codecov-action@v3
